In [1]:
import sys
import os

import pandas as pd
import base64
import requests
import psycopg2 as pg2

In [2]:
conn=pg2.connect(database="studydb",
                 host="database-1.cbed2shhlul7.ap-northeast-2.rds.amazonaws.com",
                 port="5432",
                 user="postgres_test",
                 password="studypassword")

In [3]:
# conn.cursor를 통해 Cursor 하나를 생성한다.
cur = conn.cursor()

In [4]:
cur

In [5]:
cur.execute("CREATE TABLE test1 (id serial PRIMARY KEY, num integer, data varchar);")

In [6]:
cur.execute("INSERT INTO test1 (id, num, data) VALUES (%s, %s, %s);", (1, 100, "data01") )

In [7]:
cur.execute("SELECT * FROM test1") 
(id, num, data) = cur.fetchone() 
print(f"{id}, {num}, {data}")

1, 100, data01

In [8]:
pd.DataFrame(cur.fetchall())

Empty DataFrame
Columns: []
Index: []

In [9]:
cur.close()