In [14]:
import sys
import os

import pandas as pd
import base64
import requests
import psycopg2 as pg2

In [15]:
conn=pg2.connect(database="studydb",
                 host="database-1.cbed2shhlul7.ap-northeast-2.rds.amazonaws.com",
                 port="5432",
                 user="postgres_test",
                 password="studypassword")

In [16]:
# conn.cursor를 통해 Cursor 하나를 생성한다.
cur = conn.cursor()

In [17]:
cur

In [19]:
except:
  print "not connect"

cur = conn.cursor()
try:
  sqlString = "INSERT INTO ptest (gid, description, size) VALUES (%s, %s, %s);"
  cur.execute(sqlString, (1, 'd_string', '{123, 456, 789}',) )
except:
  print "cannot SQL Execute"

conn.commit()
cur.close()
conn.close()

SyntaxError: invalid syntax (<ipython-input-19-7d421f301ef2>, line 1)

In [252]:
cur.execute("CREATE TABLE test1 (id serial PRIMARY KEY, num integer, data varchar);")

In [253]:
cur.execute("INSERT INTO test1 (id, num, data) VALUES (%s, %s, %s);", (1, 100, "data01") )

In [254]:
cur.execute("SELECT * FROM test1") 
(id, num, data) = cur.fetchone() 
print(f"{id}, {num}, {data}")

1, 100, data01

In [255]:
pd.DataFrame(cur.fetchall())

Empty DataFrame
Columns: []
Index: []

In [218]:
# Fetch all rows from table
cursor.execute("SELECT * FROM inventory;")
rows = cursor.fetchall()

# Print all rows
for row in rows:
    print("Data row = (%s, %s, %s)" %(str(row[0]), str(row[1]), str(row[2])))

ProgrammingError: Cannot operate on a closed cursor.

In [196]:
cursor.execute("DROP TABLE IF EXISTS inventory;")
print("Finished dropping table (if existed)")

ProgrammingError: Cannot operate on a closed cursor.

In [187]:
cursor.execute("CREATE TABLE inventory (id serial PRIMARY KEY, name VARCHAR(50), quantity INTEGER);")
print("Finished creating table")

ProgrammingError: Cannot operate on a closed cursor.

In [204]:
cursor.execute("INSERT INTO inventory (name, quantity) VALUES (%s, %s);", ("banana", 150))
cursor.execute("INSERT INTO inventory (name, quantity) VALUES (%s, %s);", ("orange", 154))
cursor.execute("INSERT INTO inventory (name, quantity) VALUES (%s, %s);", ("apple", 100))
print("Inserted 3 rows of data")

# Clean up
conn.commit()
cursor.close()
conn.close()

ProgrammingError: Cannot operate on a closed cursor.

In [205]:
pd.DataFrame(cur.fetchall())

ProgrammingError: no results to fetch

In [206]:
def execute(self,query,args={}):
    self.cursor.execute(query,args)
    row = self.cursor.fetchall()
    return row

In [207]:
pd.DataFrame(cur.fetchall())

ProgrammingError: no results to fetch

In [208]:
print(cursor.fetchall())

ProgrammingError: Cannot operate on a closed cursor.

In [209]:
  def commit(self):
        self.cursor.commit()

In [210]:
import psycopg2

class Databases():
    def __init__(self):
        self.db = psycopg2.connect(host='localhost', dbname='test',user='postgres',password='password',port=5432)
        self.cursor = self.db.cursor()

    def __del__(self):
        self.db.close()
        self.cursor.close()

    def execute(self,query,args={}):
        self.cursor.execute(query,args)
        row = self.cursor.fetchall()
        return row

    def commit(self):
        self.cursor.commit()

In [211]:
def insertDB(self,schema,table,colum,data):
    sql = " INSERT INTO {schema}.{table}({colum}) VALUES ('{data}') ;".format(schema=schema,table=table,colum=colum,data=data)
    try:
        self.cursor.execute(sql)
        self.db.commit()
    except Exception as e :
        print(" insert DB  ",e)

In [212]:
def readDB(self,schema,table,colum):
    sql = " SELECT {colum} from {schema}.{table}".format(colum=colum,schema=schema,table=table)
    try:
        self.cursor.execute(sql)
        result = self.cursor.fetchall()
    except Exception as e :
        result = (" read DB err",e)
    
    return result

In [213]:
def updateDB(self,schema,table,colum,value,condition):
    sql = " UPDATE {schema}.{table} SET {colum}='{value}' WHERE {colum}='{condition}' ".format(schema=schema
    , table=table , colum=colum ,value=value,condition=condition )
    try :
        self.cursor.execute(sql)
        self.db.commit()
    except Exception as e :
        print(" update DB err",e)

In [214]:
def deleteDB(self,schema,table,condition):
    sql = " delete from {schema}.{table} where {condition} ; ".format(schema=schema,table=table,
    condition=condition)
    try :
        self.cursor.execute(sql)
        self.db.commit()
    except Exception as e:
        print( "delete DB err", e)

In [215]:
pd.DataFrame(cur.fetchall())

ProgrammingError: no results to fetch

In [216]:
from database import Databases

class CRUD(Databases):
    def insertDB(self,schema,table,colum,data):
        sql = " INSERT INTO {schema}.{table}({colum}) VALUES ('{data}') ;".format(schema=schema,table=table,colum=colum,data=data)
        try:
            self.cursor.execute(sql)
            self.db.commit()
        except Exception as e :
            print(" insert DB err ",e) 
    
    def readDB(self,schema,table,colum):
        sql = " SELECT {colum} from {schema}.{table}".format(colum=colum,schema=schema,table=table)
        try:
            self.cursor.execute(sql)
            result = self.cursor.fetchall()
        except Exception as e :
            result = (" read DB err",e)
        
        return result

    def updateDB(self,schema,table,colum,value,condition):
        sql = " UPDATE {schema}.{table} SET {colum}='{value}' WHERE {colum}='{condition}' ".format(schema=schema
        , table=table , colum=colum ,value=value,condition=condition )
        try :
            self.cursor.execute(sql)
            self.db.commit()
        except Exception as e :
            print(" update DB err",e)

    def deleteDB(self,schema,table,condition):
        sql = " delete from {schema}.{table} where {condition} ; ".format(schema=schema,table=table,
        condition=condition)
        try :
            self.cursor.execute(sql)
            self.db.commit()
        except Exception as e:
            print( "delete DB err", e)
if __name__ == "__main__":
    db = CRUD()
    db.insertDB(schema='myschema',table='table',colum='ID',data='유동적변경')
    print(db.readDB(schema='myschema',table='table',colum='ID'))
    db.updateDB(schema='myschema',table='table',colum='ID', value='와우',condition='유동적변경')
    db.deleteDB(schema='myschema',table='table',condition ="id != 'd'")

ModuleNotFoundError: No module named 'database'

In [217]:
!pip3 install database

Collecting database
  Could not find a version that satisfies the requirement database (from versions: )
No matching distribution found for database

In [149]:
cur.execute('SELECT * FROM PhoneBook')

UndefinedTable: relation "phonebook" does not exist
LINE 1: SELECT * FROM PhoneBook
                      ^

In [150]:
SELECT * FROM pg_stat_activity ORDER BY query_start ASC;

SyntaxError: invalid syntax (<ipython-input-150-f43037f3e045>, line 1)

In [151]:
# conn.executemany를 통해 데이터를 insert 한다.
cur.executemany( 'INSERT INTO employee_data VALUES (?, ?, ?, ?, ?)', 
                [(1001, 'Donghyun', 'SOMJANG', 'Development', '2020-04-01 00:00:00.000'), 
                 (2001, 'Sol', 'Fairy', 'Marketing', '2020-04-01 00:00:00.000'), 
                 (2002, 'Jiyoung', 'Magician', 'Marketing', '2020-04-01 00:00:00.000'), 
                 (1002, 'Hyeona', 'Theif', 'Development', '2020-04-01 00:00:00.000'), 
                 (1003, 'Soyoung', 'Chief', 'Development', '2020-04-01 00:00:00.000') ] )

SyntaxError: syntax error at or near ","
LINE 1: INSERT INTO employee_data VALUES (?, ?, ?, ?, ?)
                                           ^

In [152]:
cur.execute("create table test (name text, score int)")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [153]:
def execute("SELECT * FROM rds_test_iris;")

SyntaxError: invalid syntax (<ipython-input-153-7a6d67188a39>, line 1)

In [154]:
pd.DataFrame(cur.fetchall())

ProgrammingError: no results to fetch

In [11]:
conn = ppg2.connect("host = localhost dbname=test user=postgres password=1234 port=5432")

NameError: name 'ppg2' is not defined

database: 초기에 설정한 database 이름
host: RDS의 엔드포인트
port: 포트 번호. PostgreSQL의 포트번호는 5432
user: 마스터 사용자의 이름
password: 마스터 암호

In [94]:
cur=conn.cursor()                
cur.execute("SELECT * FROM rds_test_iris;")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [89]:
pd.DataFrame(cur.fetchall())

ProgrammingError: no results to fetch

In [155]:
con = sqlite3.connect("data.db")
cursor = con.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[]