In [1]:
import sys
import os

import pandas as pd
import base64
import requests
import psycopg2 as pg2

In [2]:
conn=pg2.connect(database="studydb",
                 host="database-1.cbed2shhlul7.ap-northeast-2.rds.amazonaws.com",
                 port="5432",
                 user="postgres_study",
                 password="studypassword")

OperationalError: could not connect to server: Connection timed out
	Is the server running on host "database-1.cbed2shhlul7.ap-northeast-2.rds.amazonaws.com" (172.31.0.121) and accepting
	TCP/IP connections on port 5432?

In [ ]:
conn=pg2.connect(database="studydb",
                 host="database-1.cbed2shhlul7.ap-northeast-2.rds.amazonaws.com",
                 port="5432",
                 user="postgres_study",
                 password="studypassword")

In [ ]:
# -*- coding: utf-8 -*- import psycopg2 as pg2 
conn = ppg2.connect("host = database-1.cbed2shhlul7.ap-northeast-2.rds.amazonaws.com
                    dbname=studydb
                    user=postgres_study
                    password=studypassword
                    port=5432")

In [ ]:
conn = ppg2.connect("host = localhost dbname=test user=postgres password=1234 port=5432")

database: 초기에 설정한 database 이름
host: RDS의 엔드포인트
port: 포트 번호. PostgreSQL의 포트번호는 5432
user: 마스터 사용자의 이름
password: 마스터 암호

In [ ]:
cur=conn.cursor()                
cur.execute("SELECT * FROM rds_test_iris;")

In [ ]:
pd.DataFrame(cur.fetchall())