In [79]:
import sys
import os

import pandas as pd
import base64
import requests
import psycopg2 as pg2

In [80]:
conn=pg2.connect(database="studydb",
                 host="database-1.cbed2shhlul7.ap-northeast-2.rds.amazonaws.com",
                 port="5432",
                 user="postgres_test",
                 password="studypassword")

In [81]:
# conn.cursor를 통해 Cursor 하나를 생성한다.
cur = conn.cursor()

In [82]:
cur

In [84]:
cur.execute('SELECT * FROM PhoneBook')

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [87]:
SELECT * FROM pg_stat_activity ORDER BY query_start ASC;

SyntaxError: invalid syntax (<ipython-input-87-f43037f3e045>, line 1)

In [83]:
# conn.executemany를 통해 데이터를 insert 한다.
cur.executemany( 'INSERT INTO employee_data VALUES (?, ?, ?, ?, ?)', 
                [(1001, 'Donghyun', 'SOMJANG', 'Development', '2020-04-01 00:00:00.000'), 
                 (2001, 'Sol', 'Fairy', 'Marketing', '2020-04-01 00:00:00.000'), 
                 (2002, 'Jiyoung', 'Magician', 'Marketing', '2020-04-01 00:00:00.000'), 
                 (1002, 'Hyeona', 'Theif', 'Development', '2020-04-01 00:00:00.000'), 
                 (1003, 'Soyoung', 'Chief', 'Development', '2020-04-01 00:00:00.000') ] )

SyntaxError: syntax error at or near ","
LINE 1: INSERT INTO employee_data VALUES (?, ?, ?, ?, ?)
                                           ^

In [70]:
cur.execute("create table test (name text, score int)")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [69]:
cur.execute("SELECT * FROM rds_test_iris;")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [77]:
def create_table(host_name,database_name,user_name,database_password):
    #database_name is the target db -not the 'postgres' db we use for auth
    conn= connect(
        dbname= 'postgres',
        user= user_name,
        host= host_name,
        password= database_password
    )
    conn.set_isolation_level(extensions.ISOLATION_LEVEL_AUTOCOMMIT)
    cursor= conn.cursor()
    cursor.execute('CREATE DATABASE ' + '"' + str(database_name) + '"')

In [78]:
pd.DataFrame(cur.fetchall())

ProgrammingError: no results to fetch

In [11]:
conn = ppg2.connect("host = localhost dbname=test user=postgres password=1234 port=5432")

NameError: name 'ppg2' is not defined

database: 초기에 설정한 database 이름
host: RDS의 엔드포인트
port: 포트 번호. PostgreSQL의 포트번호는 5432
user: 마스터 사용자의 이름
password: 마스터 암호

In [12]:
cur=conn.cursor()                
cur.execute("SELECT * FROM rds_test_iris;")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [13]:
pd.DataFrame(cur.fetchall())

ProgrammingError: no results to fetch